
body {
  margin: 25px;
  background-color: rgb(0,0,0);
  font-family: arial, sans-serif;
  font-size: 14px;
  color: white;
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 600%;
  font-weight: normal;
  margin-top: 70px;
  margin-bottom: 40px;
  font-family: 'Great Vibes', cursive;
  color: #FFF9DA;
  text-align: left;
}



@media screen and (max-width: 740px) {
	.menu {
		visibility: hidden;
	}

	.menu-placeholder {
		visibility: hidden;
		height: 0;
	}

	.menu-drop {
		height: 50px;
	}

	.container-main {
	  width: 100%;
	}

	.picturecolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
	}

}


@media screen and (min-width: 740px) {
	.menu {
		display: inline-block;
		height: 500px;
	}

	.menu-drop {
		visibility: hidden;
	}

	.menu-placeholder {
		visibility: visible;
	}

	.container-main {
	  width: 70%;
	  max-width: 900px;
	}

	.picturecolumn {
	    -ms-flex: 50%; /* IE10 */
	    flex: 50%;
	    max-width: 50%;
	    padding: 0 4px;
	}


}

.videocontent {
	position: relative;
	padding-top: 56.25%;
}

.videocontent iframe {
	position: absolute;
	padding-top: 15px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.picturerow {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}


.picturecolumn img {
    margin-top: 8px;
    vertical-align: middle;
}



.intro {
	letter-spacing: 5px;
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
}


.phototitle {
	letter-spacing: 5px;
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	width: 100%;
}


.pagecontent {
	text-align: center;
	align-content: center;
	margin-top: 5px;
	letter-spacing: 2px;
}


.imgcaption {
	font-style: italic;
	white-space: pre;
	position: absolute;
	bottom: -40px;
	font-size: 12px;
	margin-left: 100px;
	color: #4F6060;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    background-color: black;
}

a.dropdown-toggle:hover {
	color: white;
}

.dropdown-content a {
    color: black;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}


a:link {
    color: white;
    background-color: black;
    text-decoration: none;
    font-weight: bold;
}


a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #253B40;
    background-color: transparent;
    text-decoration: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    background-color: black;
}

li a:hover {
    background-color: black;
    color: #253B40;
    text-decoration: none;
}




